<html>
  <head>
    <title>View</title>
{#      <meta http-equiv="refresh" content="5" />#}
  </head>
  <body>
      <h3>User.query.all()</h3>
      <table border='1' cellpadding="10" cellspacing="0">
          <tr>
              <td>id</td>
              <td>name</td>
              <td>balance</td>
              <td>hold</td>
              <td>state</td>
          </tr>
          {% for row in select %}
          <tr>
              <td>{{ row.id }}</td>
              <td>{{ row.name }}</td>
              <td>{{ row.balance }}</td>
              <td>{{ row.hold }}</td>
              <td>{{ row.status }}</td>
          </tr>
          {% endfor %}
      </table>
  </body>
</html>